.interactive{
	margin:1em -10px !important;
}

@media (min-width: 480px) {

	.interactive{
		margin:1em -20px !important;
	}
}

@media (min-width: 595px) {
	.interactive{
		margin:1em 0 !important;
	}
}

@media (min-width: 900px) {

	.interactive{
		margin:1em -20px !important;
	}
}

@media (min-width: 1155px) {

	.interactive{
		margin:1em 0 !important;
	}
}

@media (min-width: 1300px) {

	.interactive{
		margin:1em -20px !important;
	}
}

@media (min-width: 1315px) {

	.interactive{
		margin:1em 0 !important;
	}
}