
body{
	margin:0;
	background:#eee;
}

.gu-interactive {
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	max-width:1300px;
	margin:0 auto;
	background:#fff;
	font-family: 'Guardian Egyptian Web';
}
.wishlistShareButton.shareFb{
	background: #3067a3 url(../assets/images/facebookIcon.svg);
}
.wishlistShareButton.shareFb:hover{
	background-color: #154A83;
}
.wishlistShareButton.shareTwitter{
	background: #03b3ee url(../assets/images/twitterIcon.svg);
}
.wishlistShareButton.shareTwitter:hover{
	background-color: #0592C2;
}
.wishlistShareButton.shareUrl{
	background: #767676 url(../assets/images/emailIcon.svg);
}
.wishlistShareButton.shareUrl:hover{
	background-color: #333;
}

.gu-interactive .assetsLoading {
	font-weight:normal;
	font-size:22px;
	color:#4a251c;
	border: none !important;
    margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	width: 200px;
	background: #fff url("http://interactive.guim.co.uk/next-gen/lifeandstyle/ng-interactive/2013/christmas-gift-guide/assets/images/loading.gif") no-repeat left;
}

.gu-interactive .loadingTitle {
	margin-left:55px;
	margin-bottom:5px;
	border: none !important;
}
.gu-interactive .singularShareButtons{
	font-size:0;
}

.gu-interactive .loadingTitle  h2 {
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#666;
	border: none !important;
}

.gu-interactive .mainHolder {
	width:100%;
	margin-right: auto;
	margin-left: auto;
	position:relative;
}

.gu-interactive .mainHolderBg {
	width:100%;
	background-color: #eee;
	position:relative;
	top:0px;
	left:0px;
	display: none;
}
.gu-interactive header{

}

.gu-interactive #visualHeader{
	height:270px;
	width:100%;
	background:#333;
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;
}

.gu-interactive #christmasLights{
	width:100%;
	height:100%;
	/*background:url(../assets/images/christmas_lights.png);*/
	background-repeat: no-repeat;
	background-size:150%;
	position: absolute;
	z-index:1;
}
#christmasLights img{
	position: absolute;
	top:0;
	right:0;
	height:100%;
	/*transition:0.5s opacity;*/
}
#christmasLights .lightsOff{
	opacity:0;

}

.gu-interactive #headerTitleContainer{
	z-index:2;
	position: relative;
	color:#fff;
	font-family:Guardian Egyptian Web;
	padding-top:30px;
	padding-left:20px;
}
.gu-interactive #headerTitleContainer img{
	width:140px;
}
.gu-interactive #headerTitleContainer h1{
	font-weight:100;
	text-shadow:0 2px 4px rgba(0,0,0,0.5);
	margin-top:2px;
	line-height: 1em;
	font-size:30px;
}
.gu-interactive #wishlist{
	position: absolute;
	bottom:0;
	/*height:90px;*/
	width:100%;
	z-index:2;
}
.gu-interactive #emptyWishlist{
	color:rgba(255,255,255,0.4);
	text-align: center;
	margin-top:36px;
	font-family:"Guardian Text Sans Web";
}
.gu-interactive #wishlist #wishlistTitle{
	color:#fff;
	position: relative;
	left:0;
	padding-left:20px;
	font-weight:bold;
	padding-top:5px;
	box-sizing:border-box;
	margin-bottom:10px;
}
.gu-interactive #wishlist #wishlistTitle p{
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	}
.gu-interactive #wishlist #wishlistShareBox{
	vertical-align: middle;
	display:inline-block;
}
.gu-interactive #wishlist .wishlistShareButton{
	width:32px;
	height:32px;
	display: inline-block;
	border-radius: 16px;
	border:none;
	outline:none;
	cursor:pointer;
}

.gu-interactive #wishlist #wishlistItems{
	background:rgba(0,0,0,0.6);
	height:90px	;
	position: relative;
	overflow:hidden;
}

.gu-interactive #wishlist #wishlistItems ul{
	list-style: none;
	padding:10px 0 0 10px;
	position: absolute;
	-webkit-transition: margin 0.5s linear;
	-moz-transition: margin 0.5s linear;
	-o-transition: margin 0.5s linear;
	-ms-transition: margin 0.5s linear;
	transition: margin 0.5s linear;
	margin-left:0;
}

.gu-interactive #wishlist #wishlistItems ul li{
	display: inline-block;
	margin-right:10px;
	width:70px;
	height:70px;
	position: relative;
}

.gu-interactive #wishlist #wishlistItems ul li img{
	width:100%;
	height:100%;

}

.gu-interactive #wishlist #wishlistItems ul li .removeFromListBtn{
	background: rgba(192, 83, 3,0.9) url(../assets/images/crossIconWhite.svg) no-repeat center;
	position: absolute;
	border-radius:999px;
	right: 2px;
	top:2px;
	height:30px;
	width:30px;
	cursor:pointer;
}

.gu-interactive #wishlist #wishlistItems ul li .removeFromListBtn:hover{
	background: rgba(230, 113, 27,0.9) url(../assets/images/crossIconWhite.svg) no-repeat center;
}

.gu-interactive #wishlist .wishlistNavigate{
	height:100%;
	width:40px;
	background:rgba(0,0,0,0.8);
	position: absolute;
	top:0;
	z-index:5;
	opacity:0;
}
.gu-interactive #wishlist .wishlistNavigate.active{
	opacity:1;
	cursor: pointer;
}

.gu-interactive #wishlist .wishlistNavigate#wishlistNavBack.active:hover{
	background:rgba(192, 83, 3,0.9) url(../assets/images/arrowLeft.svg) no-repeat center;
}
.gu-interactive #wishlist .wishlistNavigate#wishlistNavNext.active:hover{
	background:rgba(192, 83, 3,0.9) url(../assets/images/arrowRight.svg) no-repeat center;
}

.gu-interactive #wishlist #wishlistNavBack{
	left:0;
	background:rgba(0,0,0,0.8) url(../assets/images/arrowLeft.svg) no-repeat center;
}

.gu-interactive #wishlist #wishlistNavNext{
	right:0;
	background:rgba(0,0,0,0.8) url(../assets/images/arrowRight.svg) no-repeat center;
}

.gu-interactive	#filters{
	margin:10px 10px 0;
	overflow: hidden;
	font-size:0;
}	

.gu-interactive #giftCount{
	text-align:center;
	border-top:1px solid #dcdcdc;
	padding-top:10px;
	margin-right:0;
	-webkit-font-smoothing:antialiased;
	color:#333;
	margin-top:9px;
	font-family:"Guardian Text Sans Web", Arial;
	font-size:14px;
}

.gu-interactive .styled-select select {
   background: transparent;
   font-size: 12px;
   border: none;
   padding:11px 10px 11px 14px;
    color: #fff;
    -webkit-appearance: none;
    width:135%;
    appearance: none;
    font-family: 'Guardian Text Sans Web';
    font-weight: bold;
    -webkit-font-smoothing:antialiased;
}


.gu-interactive .styled-select {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	margin: 0 2% 4px 0;
	display: inline-block;
  	overflow: hidden;
  	padding-right:20px;
  	width:49%;
   	height: 34px;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 99999px;
   	background: url("http://interactive.guim.co.uk/next-gen/lifeandstyle/ng-interactive/2013/christmas-gift-guide/assets/images/filter-arrow.png") no-repeat 94% 9px #7d7569;
   	text-align: left;
}

.gu-interactive .styled-select select option{
	color:#333;
	background:#fff;
	font-family: 'Guardian Text Sans Web';
}

.gu-interactive .styled-select:nth-of-type(2){
	margin: 0 0 4px 0;
}

.gu-interactive .rightSideHolder {
	width:69%;
	margin-left:2%;
	float:left;
	position:relative;
}

.gu-interactive .rightSideHolderSmall {
	width:100%;

	float:left;
	position:relative;
}

.gu-interactive .wishListPanelTop {
	width:auto;
	background-color:#fff;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	-ms-transition: max-height 0.5s;
	transition: max-height 0.5s;
	padding-left:3%;
	width:97%;
}

.gu-interactive .wishListPanelTop  h1 {
	font-family: 'Guardian Text Sans Web';
	font-size:16px;
	color:#4a251c;
	font-weight:bold;
	margin-top:10px;
}

.gu-interactive .wishListPanelTop  h2 {
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
	border: none !important;
}

.gu-interactive .carouselHolder {
	width:94%;
	margin:10px 3% 20px 0;
}



.gu-interactive .copyURLHolder {
	float:left;
	width:275px;
	overflow: hidden;
	margin-bottom:20px;
	margin-top:5px;
	margin-right:10px;
	font-weight: normal !important;
}

.gu-interactive .copyURLHolder h2 {
	font-weight: normal !important;
}

.gu-interactive .shareListHolder {
	float:left;
	margin-top:1px;
	cursor: pointer;
	color: #4A251C;
	margin-bottom:10px;
}

.gu-interactive .wishListPanelTop .shareListHolder {
	margin-top:13px;
	margin-bottom:10px;
}
.gu-interactive .shareListHolder h2 {
font-family: 'Guardian Text Sans Web' !important;
	font-weight: normal !important;
	font-size: 12px;
	margin:0 10px 8px 0 !important;
	padding:0 !important;
	border: none !important;
	line-height:12px !important;
}
.gu-interactive .shareIcon {
	float:left;
	margin-right:2px;
	width:55px;
	height:20px;
	cursor: pointer;
	margin-top:-6px;
}

.gu-interactive .wishListPanelTop .shareIcon {

	margin-top:-5px;
}

.gu-interactive .copyURLTextArea {
	float:left;
	margin-left:10px;
	width: 245px;
	height: 18px;
	border: 1px solid #dfdfdf;
	padding: 2px;
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
	resize:none;
	background-color: #fff;
}

.gu-interactive .copyURLP {
	float:left;
	margin-left:10px;
	width: 200px;
	border: 1px solid #dfdfdf;
	padding: 2px;
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
	overflow:hidden;
	min-height: 18px;
}

.gu-interactive .productsPanel {
	width:100%;
	margin-top:1%;
	position:relative;
	min-height: 85px;
}

.gu-interactive .productsGridHolder {
	margin-top:20px;
	position:relative;
	transition: left 0.5s;
	-moz-transition: left 0.5s; /* Firefox 4 */
	-webkit-transition: left 0.5s; /* Safari and Chrome */
	-o-transition: left 0.5s; /* Opera */
}

.gu-interactive .productsGridHolder h1 {
	font-family: 'Guardian Text Egyptian Web';
	font-weight:normal;
	font-size:22px;
	color:#4b251a;
	margin:3%;
	text-align:center;
}

.gu-interactive .productsGridHolder p {
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
}

.gu-interactive .productsGridHolder span {
	color:#c05303;
	border-bottom: 1px solid;
	margin: 0 3px 0 3px;
}

.gu-interactive .productsGridHolder a {
	text-decoration:none;
	color:#4a251c;
	margin: 0 3px 0 3px;
}

.gu-interactive .productsGridHolder a:hover {
	text-decoration:none;
	color:#c05303;
	margin: 0 3px 0 3px;
}
.gu-interactive .productsGridHolder ul  {
    margin:0;
	padding:0;
	text-align: center;
	margin:0 5px;
}

.gu-interactive .productsGridHolder li {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding:0 5px;
	display: inline-block;
	width: 50%;
	overflow: hidden;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
}
.gu-interactive .productsGridHolder .itemInWishlist{
	border-color:#c05303;
}
.gu-interactive .itemInWishlist .addToWishList{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	background: #c05303 url(../assets/images/crossIconWhite.svg) no-repeat center;
}
.gu-interactive .itemInWishlist .addToWishList:hover{
	background:#e6711b url(../assets/images/crossIconWhite.svg) no-repeat center;
}

.gu-interactive .productThumbHolder{
	width:100%;
	height:0;
	background-size:60%;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom:75%;
}
.gu-interactive .productsGridHolder  #productThumb {
	width:80%;
	height:auto;
	margin: 0 auto;
	display:block;
	padding:0;
}

.gu-interactive .productGridItem {
	width:100%;
	background-color:#fff;
	overflow:hidden;
	border:1px solid #DFDFDF;
	
	cursor:pointer;
}
.gu-interactive .productsGridHolder .productTitle {
	height:28px;
	padding:10px;
	padding-bottom:10px;
	background:#efefec;
}

.productGridItem .addToWishList:hover {
	background: #c05303 url(../assets/images/crossIconWhite.svg) no-repeat center;
}

.gu-interactive .addToWishList {
	font-family: 'Guardian Text Sans Web';
	background: #7d7569 url(../assets/images/crossIconWhite.svg) no-repeat center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition:0.5s transform;
	-moz-transition:0.5s transform;
	-ms-transition:0.5s transform;
	-o-transition:0.5s transform;
	transition:0.5s transform;
	height:32px;
	width:32px;
	color: #fff;
	border-radius:16px;
	position:absolute;
	top:10px;
	right:10px;
	cursor: pointer;

}

.gu-interactive .productGridItem p {
	font-family: 'Guardian Egyptian Web', Arial;
	font-weight:normal;
	font-size:14px;
	color:#674A38;
	text-align:left;
	-webkit-font-smoothing: antialiased;
}
.gu-interactive .productGridItem p.productDescripPrice {
	display: block;
	}
.gu-interactive .productGridItem p.productName {
	margin-right:5px;
	text-overflow: ellipsis; /* will make [...] at the end */
    width: 100%; /* change to your preferences */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
	}
.gu-interactive .descripAndTitleContainer{
	overflow:hidden;
}
.gu-interactive .paginationHolderTop {
	margin: 20px auto 40px auto;
	text-align: center;
	display: none;

}
.gu-interactive .paginationHolderTop p{
	font-size:16px;
}
.gu-interactive .paginationHolderTop p span{
	margin-left:5px;
}

.gu-interactive .paginationHolderTop a {
	cursor: pointer;
	margin-left:5px;
}

.gu-interactive .paginationHolderTop a:hover {

	margin-left:5px;
}


.gu-interactive #filteredGiftsNum {
	color:#c05303 ;
}

.gu-interactive #wishListNum {
	color:#c05303;
}


.gu-interactive .singularProductHolder {
	width:100%;
	height: 100%;
	background-color:rgba(192, 83, 3, 0.6);
	top:0;
	position:relative;
	display:none;
	transition: left 0.5s;
	-moz-transition: left 0.5s; /* Firefox 4 */
	-webkit-transition: left 0.5s; /* Safari and Chrome */
	-o-transition: left 0.5s; /* Opera */
}

.gu-interactive .singularContent{
	width:90%;
	padding: 15% 5% 10%;
	background: #fff;
}

.gu-interactive .singularContent p{
	font-size:14px;
	margin-top:10px;
	}

.gu-interactive #detailDescrip{
	float:left;
	overflow: hidden;
	position: relative;
}

#detailDescrip  h2 {
	font-family: 'Guardian Egyptian Web', Georgia;
	font-weight:500;
	font-size:22px;
	color:#7D7569;
	margin-right:40px !important;
}

.gu-interactive .singularProductHolder  h3 {
	font-size:22px;
	font-weight:normal;
	color:#7d7569;
	position: absolute;
	right:0;
	top:0;
}

.gu-interactive .singularProductHolder p {
	font-family: 'Guardian Egyptian Web', Georgia;
	font-weight: normal;
	font-size:16px;
	line-height:1.2em;
	color:#7D7569;
	margin-bottom:20px;
}

.singularProductHolder button {
	display:inline-block;
	border-radius:999px;
	background:#C05303;
	border:none;
	color:#fff;
	height:32px;
	padding:0 15px;
	font-size:13px;
	font-family: 'Guardian Text Sans Web', Arial;
	-webkit-font-smoothing:antialiased;
	font-weight:normal;
	cursor:pointer;
	position: relative;
	outline:none;
}
.singularProductHolder #addToWishList{
	padding:0 15px 0 30px;
	margin-right:5px;
}
.singularProductHolder #addToWishList:hover{
	background:#e6711b;
}
.singularProductHolder #addToWishList:before{
	-webkit-transition:0.5s transform;
	-moz-transition:0.5s transform;
	-ms-transition:0.5s transform;
	-o-transition:0.5s transform;
	transition:0.5s transform;
	content:'';
	position: absolute;
	display: block;
	left:8px;
	top:8px;
	height:14px;
	width:14px;
	background:url(../assets/images/crossIconWhite.svg);
}
.singularProductHolder #addToWishList.removeFromList{
	background:#7d7569;
}

.singularProductHolder #addToWishList.addToList:before{
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}

.singularProductHolder button.linkToShop{
	background:none;
	border:2px solid #C05303;
	color:#C05303;
	padding:0 38px 0 15px;
	margin-top:10px;
}

.singularProductHolder button.linkToShop:hover{
	background:#fff;
}

.singularProductHolder button.linkToShop:after{
	width:21px;
	height:21px;
	background:url(../assets/images/arrowIcon.svg) no-repeat center;
	background-size:100%;
	content:'';
	display:block;
	position: absolute;
	right:8px;
	top:3px;
}

.gu-interactive .singularProductHolder a:hover {
	text-decoration: none;
	color:#4a251c;
}

.gu-interactive .singularProductLeftTop {
	cursor: pointer;
}

.gu-interactive #backToGridBtn{
	width:32px;
	height:32px;
	right:10px;
	top:10px;
	cursor: pointer;
	position: absolute;
	border-radius:999px;
	background:#7d7569 url(../assets/images/crossIconWhite.svg) no-repeat center;
}
.gu-interactive #backToGridBtn:hover{
	background:#8e867a url(../assets/images/crossIconWhite.svg) no-repeat center;
}

.gu-interactive .singularProductRightTop {
	margin: 20px 0 20px 0;
	background-color: #0000ff;
}

.gu-interactive .loadingLargeImageMsg {
	width: 100%;
	height: 100px;
	margin-top:50px;
	display: none;
}

.gu-interactive #filteringWait {
	background: transparent ;
	background: rgba(0,0,0,0.4) ;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#50000000', EndColorStr='#50000000');*/
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	display: none;
}

.gu-interactive #arialBody {
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#666;
}

.gu-interactive .clearBoth {
	clear:both;
}

.gu-interactive #productDetailHolder{
	background: #fff;
	width:100%;
	height:auto;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	overflow:hidden;
	background-size:80% !important;
	background-repeat:no-repeat;
	background-position:center;
}
.gu-interactive #productDetailHolder .productImageContainer{
	width:100%;
	height:0;
	padding-bottom:100%;
	background:transparent;
}
.gu-interactive #detailDescrip{
	float:none;
}
.gu-interactive .singularContent{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
	width:auto;
	padding:0 10px 40px;
}
@media (min-width: 520px) {
	#christmasLights img{
		left:0;
	}
}
@media (min-width: 641px) {
	.gu-interactive #productDetailHolder{
		background: #fff;
		width:45%;
		float:left;
	}
	.gu-interactive #giftCount{
		text-align: left;
		border:none;
		padding:0;
		float:right;
		margin-right:10px;
	}
	.gu-interactive #productDetailHolder .productImageContainer{
		padding-bottom:160%;
	}
	.gu-interactive #christmasLights{
		background-size:cover;
	}

	.gu-interactive #headerTitleContainer{
		padding-top:80px;
		padding-left:40px;
	}
	.gu-interactive #wishlist #wishlistTitle{
		position: absolute;
		padding-left:40px;
		width:175px;
	}
	.gu-interactive #wishlist #wishlistItems{
		margin-left:175px;
	}

	.gu-interactive #wishlist #wishlistShareBox{
		margin-top:10px;
	}
	.gu-interactive #visualHeader{
		height:352px;
	}
	.gu-interactive #headerTitleContainer img{
		width:179px;
	}
	.gu-interactive #headerTitleContainer h1{
		font-size:60px;
	}
	.gu-interactive .productsGridHolder{
		margin-top:0;

	}
	.gu-interactive .show-wishlist {
	display: inline;
	float: left;
}
	.gu-interactive .filterHolder{
		float:right;
		margin-right:2%;
		width:60%;
	}
	.gu-interactive .styled-select {
		margin: 0 0 13px 10px;
		width:auto;
		float:right;
	}
	.gu-interactive .styled-select:nth-of-type(2){
		margin: 0 0 13px 10px;
	}
	.gu-interactive .productsGridHolder li {
		width:33%;
		margin-left:0;
		margin-right:0;
	}
	/*.gu-interactive .productsGridHolder .second {
		margin-right:2%;
	}
	.gu-interactive .productsGridHolder .third {
		margin-right:0;
	}*/

	.gu-interactive .productGridItem p.productDescripPrice {
		text-align: left;
		display:block;
		font-size:14px;
		font-weight:100;
		margin-top:2px;
	}
.gu-interactive .productGridItem p.productName {
	margin-right:0;
	text-overflow: ellipsis; /* will make [...] at the end */
    overflow:hidden; /* older browsers */
    font-size:14px;
    font-weight:500;
    margin-right:35px;
    width:auto;
	}


	.gu-interactive .productGridItem .productTitle{
		height:auto;
		position: relative;
		border-top:1px solid #dcdcdc;
	}

	


	.gu-interactive #detailDescrip{
		width:48%;
		position: absolute;
		transform:translateY(-51%);
		-ms-transform:translateY(-51%);
		-webkit-transform:translateY(-51%);
		-moz-transform:translateY(-51%);
		top:50%;
		right:3%;
	}

	#detailDescrip h2,#detailDescrip h3{
		margin:0;
		display:inline-block;
	}

	.gu-interactive .singularProductHolder{
		padding-top:5%;
		position:fixed;
		z-index: 5;
	}
	.gu-interactive p.noGifts{
		text-align: center;
		margin-top: 80px;
		font-size: 14px;
		color: #aaa;
	}

	.gu-interactive .singularBackground{
		width:100%;
		margin:0;
		padding:0;
		height:100%;
		position:absolute;
	}

	.gu-interactive .singularContent{
		width:84%;
		max-width:700px;
		padding:0;
		overflow:hidden;
		position:relative;
		background: #EFEFEC;
		border-radius:3px;
		border:4px solid rgba(255,255,255,0.5);
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	.gu-interactive .singularContent {
        position: absolute;
    }
}
@media (min-width: 780px) {
	.gu-interactive .productsGridHolder li {
		width:25%;
		margin-right:0;
		margin-left:0;
	}
	.gu-interactive #productDetailHolder{
		width:50%;
	}
	.gu-interactive #detailDescrip{
		width:44%;
	}
	.gu-interactive #productDetailHolder .productImageContainer{
		padding-bottom:100%;
	}
	.gu-interactive #detailDescrip{
		top:45%;
	}
}

@media (min-width: 940px) {

	.gu-interactive .headerImageContainer{
		height:300px;
		background-image: url('../assets/images/header_full.png');
		background-position:center;
		background-repeat: no-repeat;
	}

	.gu-interactive .headerImageContainer img{
		display:none;
	}
}


@media (min-width: 1020px) {
	.gu-interactive .productsGridHolder li {
		width:16.5%;
		margin-right:0;
		margin-left:0;
	}
}}

