
body{
	margin:0;
}

.gu-interactive {
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}

.gu-interactive .assetsLoading {
	font-family: 'Guardian Egyptian Web';
	font-weight:normal;
	font-size:22px;
	color:#4a251c;
	border: none !important;
    margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	width: 200px;

	background: #fff url("http://interactive.guim.co.uk/next-gen/lifeandstyle/ng-interactive/2013/christmas-gift-guide/assets/images/loading.gif") no-repeat left;

}

.gu-interactive .loadingTitle {
	margin-left:55px;
	margin-bottom:5px;
	border: none !important;
}

.gu-interactive .loadingTitle  h2 {
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#666;
	border: none !important;
}

.gu-interactive .mainHolder {
	width:100%;
	margin-right: auto;
	margin-left: auto;
	position:relative;
}

.gu-interactive .mainHolderBg {
	width:100%;
	background-color: #eee;
	position:relative;
	top:0px;
	left:0px;
	display: none;
}

.gu-interactive .leftSideHolder {
	width:27%;
	margin-left:0%;
	margin-bottom:1%;
	margin-top:50px;
	float:left;
	position:relative;
	background: #fff;
}

.gu-interactive .leftSideHolderSmall {
	width:100%;
	margin-left:0%;
	margin-bottom:1%;
	float:left;
	position:relative;
	background: #ffc202;
	-webkit-box-shadow: 0px 2px 0px rgba(211, 153, 51, 1);
	-moz-box-shadow:    0px 2px 0px rgba(211, 153, 51, 1);
	box-shadow:         0px 2px 0px rgba(211, 153, 51, 1);
}

.headerImageContainer{
	background-image: none;
	height:auto;
}

.headerImageContainer img{
	display:block;
}

.gu-interactive .leftSideHeaderImage {
	width:100%;
	height:auto;
	max-width: 940px;
	margin: 0 auto;
	display:block;
}

.gu-interactive .filterPanelLeftSide {
	margin-left:1%;
	width:98%;
	background: #ffc202;
	min-height:20px;
	margin-top:20px;
}

.gu-interactive .filterPanelLeftSide  h1 {
	font-family: 'Guardian Text Egyptian Web';
	font-weight:normal;
	font-size:20px;
	color:#62594f;
	margin:3%;
	width: 94%;
	text-align: center;
}

.gu-interactive .filterPanelLeftSide  h2 {
	font-family: 'Guardian Text Egyptian Web';
	font-weight:normal;
	font-size:18px;
	color:#fff;
	margin:3%;
	display: inline;
	float: left;
}

.gu-interactive .filterPanelLeftSide .styled-select select {
   background: transparent;
   font-size: 12px;
   border: none;
   /*margin:9px 5px 3px 10px;*/
   padding:11px 10px 11px 14px;
    color: #fff;
    -webkit-appearance: none;
    width:135%;
    appearance: none;
    font-family: 'Guardian Text Sans Web';
    font-weight: bold;
    -webkit-font-smoothing:antialiased;
}


.gu-interactive .styled-select {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	margin: 0 2% 13px;
	display: inline;
	float: right;
  overflow: hidden;
  	padding-right:20px;
  	width:46%;
   height: 34px;
    -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 99999px;
   background: url("http://interactive.guim.co.uk/next-gen/lifeandstyle/ng-interactive/2013/christmas-gift-guide/assets/images/filter-arrow.png") no-repeat 94% 9px #62594f;
   text-align: left;
}

.gu-interactive .show-wishlist {
    padding: 11px 14px 0px;
   font-family: 'Guardian Text Sans Web';
   font-weight: bold;
	font-size: 12px;
   border: none;
   height: 23px;
    color: #fff;
    -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 9999px;
	background: #a64557;
	cursor: pointer;
	margin: 0 2% 10px;
	vertical-align: middle;
}

.gu-interactive .show-wishlist #wishlist-button-counter {
	display: inline;
	float: right;
	font-weight: normal;
	margin-left:10px;
}

.gu-interactive .filterPanelLeftSide  p  {
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	line-height:140%;
	border: none !important;
	color:#fff;
	width:94%;
	margin: 3% 0 0 3%;
	float:left;
}

.gu-interactive .filterPanelCategoryHolder {
	width:100%;
	float:left;
	top:0px;
	left: 0px;
	position: relative;
}

.gu-interactive .filterPanelCategoryHolder  h2 {
	margin-left:3%;
	line-height: 130%;
	border: none !important;
	float:left;
	display: inline;
}

.gu-interactive .filterPanalFilterBox {
	background-color:#62594f;
	color: #fff;
	cursor:pointer;
	padding: 0px;
	margin: 0px;
}

.gu-interactive .filterPanalFilterBox h1 {
	vertical-align: middle;
	text-align: left;
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	color:#fff;
	font-size:12px;
	padding-left:10px;
}

.gu-interactive .moreFiltersBox {
	width:100%;
	height:26px;
	background-color:#e7d7c0;
	display: table;
	float:left;
}

.gu-interactive .moreFiltersBox h1 {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	color:#4a251c;
	font-size:12px;
	padding-left:10px;
}

.gu-interactive .refreshIcon {
	float:right;
	margin:3% 3% 0 0;
	cursor: pointer;
}

.gu-interactive .filterPanelSeperator {
	width:100%;
	height:2px;
	background-color:#7d4430;
	margin: 6% 0 3% 0;
	float:left;
	display: none;
}

.gu-interactive .rightSideHolder {
	width:69%;
	margin-left:2%;
	float:left;
	position:relative;
}

.gu-interactive .rightSideHolderSmall {
	width:100%;

	float:left;
	position:relative;
}

.gu-interactive .wishListPanelTop {
	width:auto;
	background-color:#fff;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
	padding-left:3%;
	width:97%;
}

.gu-interactive .wishListPanelTop  h1 {
	font-family: 'Guardian Text Sans Web';
	font-size:16px;
	color:#4a251c;
	font-weight:bold;
	margin-top:10px;
}

.gu-interactive .wishListPanelTop  h2 {
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
	border: none !important;
}

.gu-interactive .carouselHolder {
	width:94%;
	margin:10px 3% 20px 0;
}
.gu-interactive .removeFromListBtn{
	background: #a64557;
	color: #fff;
	font-weight: bold;
	font-family: 'Guardian Text Sans Web';
	position: absolute;
	right: 5px;
}

.gu-interactive .removeFromListBtn span{
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	display:block;
	height:15px;
	width:15px;
	text-align:center;
}

.gu-interactive .copyURLHolder {
	float:left;
	width:275px;
	overflow: hidden;
	margin-bottom:20px;
	margin-top:5px;
	margin-right:10px;
	font-weight: normal !important;
}

.gu-interactive .copyURLHolder h2 {
	font-weight: normal !important;
}

.gu-interactive .shareListHolder {
	float:left;
	margin-top:1px;
	cursor: pointer;
	color: #4A251C;
	margin-bottom:10px;
}

.gu-interactive .wishListPanelTop .shareListHolder {
	margin-top:13px;
	margin-bottom:10px;
}
.gu-interactive .shareListHolder h2 {
font-family: 'Guardian Text Sans Web' !important;
	font-weight: normal !important;
	font-size: 12px;
	margin:0 10px 8px 0 !important;
	padding:0 !important;
	border: none !important;
	line-height:12px !important;
}
.gu-interactive .shareIcon {
	float:left;
	margin-right:2px;
	width:55px;
	height:20px;
	cursor: pointer;
	margin-top:-6px;
}

.gu-interactive .wishListPanelTop .shareIcon {

	margin-top:-5px;
}

.gu-interactive .copyURLTextArea {
	float:left;
	margin-left:10px;
	width: 245px;
	height: 18px;
	border: 1px solid #dfdfdf;
	padding: 2px;
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
	resize:none;
	background-color: #fff;
}

.gu-interactive .copyURLP {
	float:left;
	margin-left:10px;
	width: 200px;
	border: 1px solid #dfdfdf;
	padding: 2px;
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
	overflow:hidden;
	min-height: 18px;
}

.gu-interactive .productsPanel {
	width:100%;
	margin-top:1%;
	position:relative;
	min-height: 85px;
}

.gu-interactive .productsGridHolder {
	width:96%;
	margin-left:2%;
	margin-right: 2%;
	margin-top:20px;
	position:relative;
	transition: left 0.5s;
	-moz-transition: left 0.5s; /* Firefox 4 */
	-webkit-transition: left 0.5s; /* Safari and Chrome */
	-o-transition: left 0.5s; /* Opera */
}

.gu-interactive .productsGridHolder h1 {
	font-family: 'Guardian Text Egyptian Web';
	font-weight:normal;
	font-size:22px;
	color:#4b251a;
	margin:3%;
	text-align:center;
}

.gu-interactive .productsGridHolder p {
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
}

.gu-interactive .productsGridHolder span {
	color:#609984;
	margin: 0 3px 0 3px;
}

.gu-interactive .productsGridHolder a {
	text-decoration:none;
	color:#4a251c;
	margin: 0 3px 0 3px;
}

.gu-interactive .productsGridHolder a:hover {
	text-decoration:none;
	color:#609984;
	margin: 0 3px 0 3px;
}
.gu-interactive .productsGridHolder ul  {
    margin:0;
	width:100%;
	padding:0;
	text-align: center;

}

.gu-interactive .productsGridHolder li {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	border:1px solid rgb(241, 224, 179);
	display: inline-block;
	width: 48%;
	cursor:pointer;
	overflow: hidden;
	margin-bottom:10px;
	margin-left:1%;
	margin-right:1%;
}


.gu-interactive .productsGridHolder  #productThumb {
	width:70%;
	height:auto;
	margin: 0 auto;
	display:block;
	padding:15px 0;
}

.gu-interactive .productGridItem {
	width:100%;
	height:113%;
	background-color:#fff;
	overflow:hidden;
}
.gu-interactive .productsGridHolder  #productTitle {
	margin-left: 10px;
	margin-right: 10px;
	height:28px;
	border-top: 1px solid rgb(243, 225, 194);
	padding-top:10px;
	padding-bottom:10px;
}

.gu-interactive #detailDescrip .linkToShop {
	font-weight:bold;
	}

 .gu-interactive #detailDescrip #addToWishList {
 	position:relative;
 	display:inline-block;
 	top:0;
 	left:0;
 	padding:12px 14px 11px;
 	float:left;
 	margin-right:5px;
 	margin-bottom:10px;
 	margin-top:0;
 }




.gu-interactive #addToWishList {
	font-family: 'Guardian Text Sans Web';
	background: #a64557;
	padding: 8px 10px 7px;
	font-size:12px;
	color: #fff;
	border-radius:2px;
	position:absolute;
	top:10px;
	right:10px;
	cursor: pointer;

}

.gu-interactive .productGridItem p {
	font-family: 'Guardian Text Egyptian Web', Arial;
	font-weight:normal;
	font-size:14px;
	color:#609984;
	text-align:left;
	-webkit-font-smoothing: antialiased;
}
.gu-interactive .productGridItem p#productDescripPrice {
	display: inline
	}
.gu-interactive .productGridItem p#productName {
	margin-right:5px;
	text-overflow: ellipsis; /* will make [...] at the end */
    width: 100%; /* change to your preferences */
    text-align:center;
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
	}
.gu-interactive .descripAndTitleContainer{
	overflow:hidden;
}
.gu-interactive .paginationHolderTop {
	margin: 20px auto 40px auto;
	text-align: center;
	display: none;

}
.gu-interactive .paginationHolderTop p{
	font-size:16px;
}
.gu-interactive .paginationHolderTop p span{
	margin-left:5px;
}

.gu-interactive .paginationHolderTop a {
	cursor: pointer;
	margin-left:5px;
}

.gu-interactive .paginationHolderTop a:hover {

	margin-left:5px;
}


.gu-interactive #filteredGiftsNum {
	color:#609984;
}

.gu-interactive #wishListNum {
	color:#609984;
}


.gu-interactive .singularProductHolder {
	width:100%;
	height: 100%;
	background-color:rgba(160, 95, 25, 0.37);
	top:0;
	position:relative;
	display:none;
	transition: left 0.5s;
	-moz-transition: left 0.5s; /* Firefox 4 */
	-webkit-transition: left 0.5s; /* Safari and Chrome */
	-o-transition: left 0.5s; /* Opera */
}

.gu-interactive .singularContent{
	width:90%;
	padding: 15% 5% 10%;
	background: #fff;
}

.gu-interactive .singularContent p{
	font-size:14px;
	margin-top:10px;
	}

.gu-interactive #detailDescrip{
	float:left;
	margin-top:40px;
}

.gu-interactive .singularProductHolder  h1 {
	font-family: 'Guardian Text Egyptian Web', Guardian Text Sans Web;
	font-weight:normal;
	font-size:22px;
	color:#4a251c;
}

.gu-interactive .singularProductHolder p {
	font-family: 'Guardian Text Sans Web' !important;
	font-weight: normal !important;
	line-height:21px;
	color:#4a251c;
	margin-bottom:20px;
}

.gu-interactive .singularProductHolder a {
	text-decoration: none;
	color:#609984;
}

.gu-interactive .singularProductHolder a:hover {
	text-decoration: none;
	color:#4a251c;
}

.gu-interactive .singularProductLeftTop {
	cursor: pointer;
}

.gu-interactive #backToGridBtn{
	width:21px;
	height:21px;
	right:20px;
	top:20px;
}

.gu-interactive .singularProductRightTop {
	margin: 20px 0 20px 0;
	background-color: #0000ff;

}

.gu-interactive .loadingLargeImageMsg {
	width: 100%;
	height: 100px;
	margin-top:50px;
	display: none;
}

.gu-interactive #filteringWait {
	background: transparent ;
	background: rgba(0,0,0,0.4) ;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#50000000', EndColorStr='#50000000');
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	display: none;
}

.gu-interactive #arialBody {
	font-family: 'Guardian Text Sans Web';
	font-weight:normal;
	font-size:12px;
	color:#666;
}

.gu-interactive .clearBoth {
	clear:both;
}

@media (max-width:320px) {
	.gu-interactive .wishListPanelTop {
		max-width:320px !important;
		padding-left: 0 !important;
	}

}
@media (min-width: 641px) {
	.gu-interactive .productsGridHolder{
		margin-top:0;

	}
	.gu-interactive .show-wishlist {
	display: inline;
	float: left;
}
	.gu-interactive .filterHolder{
		float:right;
		margin-right:2%;
		width:60%;
	}
	.gu-interactive .styled-select {
		margin: 0 0 13px 4%;
		width:auto;
		float:right;
	}
	.gu-interactive .productsGridHolder li {
		width:31%;
		margin-right:1%;
		margin-left:1%;
	}
	/*.gu-interactive .productsGridHolder .second {
		margin-right:2%;
	}
	.gu-interactive .productsGridHolder .third {
		margin-right:0;
	}*/

	.gu-interactive .productGridItem p#productDescripPrice {
	max-width: 32%;
	float:right;
	text-align: right;
	}
.gu-interactive .productGridItem p#productName {
	text-align: left;
	float:left;
	margin-right:0;

	text-overflow: ellipsis; /* will make [...] at the end */
    width: 68%; /* change to your preferences */
    overflow:hidden; /* older browsers */
	}

	.gu-interactive #backToGridBtn{

	right:10px;
	top:10px;
}
	.gu-interactive .productGridItem #productTitle{
		padding: 15px 0;
		height:auto;
	}

	.gu-interactive #productDetailHolder{
		background: #fff;
		width:48%;
		height:100%;
		position:absolute;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		overflow:hidden;
	}

	.gu-interactive #productDetailHolder img{
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin: auto;
		position:absolute;
		max-width:480px;
	}

	.gu-interactive #detailDescrip{
		width:44%;
		min-height:240px;
		float:right;
		margin-top:44px;
		border-top:4px solid #609984;
		padding-top:15px;
	}

	.gu-interactive #detailDescrip p{
		font-size:14px;
		margin:10px 0 0;
	}

	.gu-interactive #detailDescrip h1{
		margin:0;
	}

	.gu-interactive .singularProductHolder{
		padding-top:5%;
		position:fixed;
		z-index: 5;
	}

	.gu-interactive .singularBackground{
		width:100%;
		margin:0;
		padding:0;
		height:100%;
		position:absolute;
	}

	.gu-interactive .singularContent{
		width:84%;
		max-width:700px;
		padding:0 35px 2% 0;
		position:relative;
		background: #f9f1e1;
		border-radius:3px;
		border:4px solid rgba(255,255,255,0.5);
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}

@media (min-width: 641px) {
    .gu-interactive .singularContent {
        position: absolute;
    }
}

@media (min-width: 900px) {

	.gu-interactive .productsGridHolder li {
		width:23%;
		margin-right:1%;
		margin-left:1%;
	}
}

@media (min-width: 940px) {

	.gu-interactive .headerImageContainer{
		height:300px;
		background-image: url('../assets/images/header_full.png');
		background-position:center;
		background-repeat: no-repeat;
	}

	.gu-interactive .headerImageContainer img{
		display:none;
	}
}


@media (min-width: 1120px) {
	.gu-interactive .productsGridHolder li {
		width:18%;
		margin-right:1%;
		margin-left:1%;
	}
}}
.jcarousel-skin-tango .jcarousel-prev-horizontal.jcarousel-prev-disabled{
	background: rgba(0,0,0,0.2) url(../assets/images/left_arrow_65_square.png) no-repeat 7px 7px !important;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal.jcarousel-prev-disabled:hover{
	background: rgba(0,0,0,0.2) url(../assets/images/left_arrow_65_square.png) no-repeat 7px 7px !important;
}

.jcarousel-skin-tango .jcarousel-next-horizontal.jcarousel-next-disabled{
	background: rgba(0,0,0,0.2) url(../assets/images/right_arrow_65_square.png) no-repeat 7px 7px !important;
}
.jcarousel-skin-tango .jcarousel-next-horizontal.jcarousel-next-disabled:hover{
	background: rgba(0,0,0,0.2) url(../assets/images/right_arrow_65_square.png) no-repeat 7px 7px !important;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal{
	border-radius:99999px;
	width:42px !important;
	height:42px !important;
	box-sizing:border-box;
	background: rgba(0,0,0,0.8) url(../assets/images/left_arrow_65_square.png) no-repeat 7px 7px !important;
}

.jcarousel-skin-tango .jcarousel-next-horizontal{
	border-radius:99999px;
	width:42px !important;
	height:42px !important;
	box-sizing:border-box;
	background: rgba(0,0,0,0.8) url(../assets/images/right_arrow_65_square.png) no-repeat 7px 7px !important;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover{
	background: #ffbb00 url(../assets/images/left_arrow_65_squaredark.png) no-repeat 7px 7px !important;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover{
	background: #ffbb00 url(../assets/images/right_arrow_65_squaredark.png) no-repeat 7px 7px !important;
}


