@font-face {
  font-family: 'TextWebEgyptian-Regular';
  src: url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Text Egyp Web-Reg.eot');
  src: url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Text Egyp Web-Reg.eot?#iefix') format('embedded-opentype'),
  url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Text Egyp Web-Reg.woff') format('woff'),
  url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Text Egyp Web-Reg.ttf') format('truetype'),
  url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Text Egyp Web-Reg.svg#Guardian Egyptian Web') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
body{
	margin:0;
}

.gu-interactive {
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}

.gu-interactive .assetsLoading {
	font-family: 'WebEgyptianHinted-Regular';
	font-weight:normal;
	font-size:22px;
	color:#4a251c;
	border: none !important;
    margin-right: auto; 
	margin-left: auto; 
	margin-top: 20px;
	width: 200px;
	
	background: #fff url("http://interactive.guim.co.uk/next-gen/lifeandstyle/ng-interactive/2013/dec/christmas-gift-guide/assets/images/loading.gif") no-repeat left;
	
}

.gu-interactive .loadingTitle {
	margin-left:55px;
	margin-bottom:5px;
	border: none !important;
}

.gu-interactive .loadingTitle  h2 {
	font-family: 'Arial';
	font-weight:normal;
	font-size:12px;
	color:#666;
	border: none !important;
}

.gu-interactive .mainHolder {
	width:100%;
	margin-right: auto; 
	margin-left: auto; 
	position:relative;
}

.gu-interactive .mainHolderBg {
	width:100%;
	background-color: #eee;
	position:relative;
	top:0px;
	left:0px;
	display: none;
}

.gu-interactive .leftSideHolder {
	width:27%;
	margin-left:0%;
	margin-bottom:1%;
	margin-top:50px;
	float:left;
	position:relative;
	background: #fff;
}

.gu-interactive .leftSideHolderSmall {
	width:100%;
	margin-left:0%;
	margin-bottom:1%;
	float:left;
	position:relative;
	background: #1f1d43;
	-webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.5);
}

.gu-interactive .leftSideHeaderImage {
	width:100%;
	height:auto;
	max-width: 940px;
	margin: 0 auto;
	display:block;
}

.gu-interactive .filterPanelLeftSide {
	width:100%;
	background: #1f1d43;
	min-height:20px;
}

.gu-interactive .filterPanelLeftSide  h1 {
	font-family: 'WebEgyptianHinted-Regular';
	font-weight:normal;
	font-size:20px;
	color:#62594f;
	margin:3%;
	width: 94%;
	text-align: center;
}

.gu-interactive .filterPanelLeftSide  h2 {
	font-family: 'WebEgyptianHinted-Regular';
	font-weight:normal;
	font-size:18px;
	color:#fff;
	margin:3%;
	display: inline;
	float: left;
}

.gu-interactive .filterPanelLeftSide .styled-select select {
   background: transparent;
   padding: 5px 5px 3px 10px;
   font-size: 12px;
   border: none;
   height: 34px;
    color: #fff;
    -webkit-appearance: none;
    font-family: Arial;
    font-weight: bold;
} 


.gu-interactive .styled-select {
	margin: 0 10px 10px 0;
	display: inline;
	float: right;
  overflow: hidden;
  	padding-right:20px;
   height: 34px;
    -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
   background: url("http://interactive.guim.co.uk/next-gen/lifeandstyle/ng-interactive/2013/dec/christmas-gift-guide/assets/images/filter-arrow.png") no-repeat 96% #62594f;
   text-align: left;
}

.gu-interactive .show-wishlist {
	display: inline;
	float: left;
    padding: 11px 10px 0px;
   font-family: Arial;
   font-weight: bold;
	font-size: 12px;
   border: none;
   height: 23px;
    color: #fff;
    -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
	background: #a64557;
	cursor: pointer;
	margin: 0 10px 10px 10px;
	vertical-align: middle;
}

.gu-interactive .show-wishlist #wishlist-button-counter {
	display: inline;
	float: right;
	font-weight: normal;
	margin-left:10px;
}

.gu-interactive .filterPanelLeftSide  p  {
	font-family: 'Arial';
	font-weight:normal;
	font-size:12px;
	line-height:140%;
	border: none !important;
	color:#fff;
	width:94%;
	margin: 3% 0 0 3%;
	float:left;
}

.gu-interactive .filterPanelCategoryHolder {
	width:100%;
	float:left;
	top:0px;
	left: 0px;
	position: relative;
}

.gu-interactive .filterPanelCategoryHolder  h2 {
	margin-left:3%;
	line-height: 130%;
	border: none !important;
	float:left;
	display: inline;
}

.gu-interactive .filterPanalFilterBox {
	background-color:#62594f;
	color: #fff;
	cursor:pointer;
	padding: 0px;
	margin: 0px;
}

.gu-interactive .filterPanalFilterBox h1 {
	vertical-align: middle;
	text-align: left;
	font-family: 'Arial';
	font-weight:normal;
	color:#fff;
	font-size:12px;
	padding-left:10px;
}

.gu-interactive .moreFiltersBox {
	width:100%;
	height:26px;
	background-color:#e7d7c0;
	display: table;
	float:left;
}

.gu-interactive .moreFiltersBox h1 {
	display: table-cell; 
	vertical-align: middle;
	font-family: 'Arial';
	font-weight:normal;
	color:#4a251c;
	font-size:12px;
	padding-left:10px;
}

.gu-interactive .refreshIcon {
	float:right;
	margin:3% 3% 0 0;
	cursor: pointer;
}

.gu-interactive .filterPanelSeperator {
	width:100%;
	height:2px;
	background-color:#7d4430;
	margin: 6% 0 3% 0;
	float:left;
	display: none;
}

.gu-interactive .rightSideHolder {
	width:69%;
	margin-left:2%;
	float:left;
	position:relative;
}

.gu-interactive .rightSideHolderSmall {
	width:100%;

	float:left;
	position:relative;
}

.gu-interactive .wishListPanelTop {
	width:100%;
	background-color:#fff;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

.gu-interactive .wishListPanelTop  h1 {
	font-family: 'WebEgyptianHinted-Regular';
	font-weight:normal;
	font-size:22px;
	color:#4a251c;
}

.gu-interactive .wishListPanelTop  h2 {
	font-family: 'Arial';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
	border: none !important;
}

.gu-interactive .carouselHolder {
	margin:10px 0 0 15px;
}

.gu-interactive .copyURLHolder {
	float:left;
	margin-left:10px;
	margin-top:5px;
	font-weight: normal !important;
}

.gu-interactive .copyURLHolder h2 {
	font-weight: normal !important;
}

.gu-interactive .shareListHolder {
	float:right;
	margin-right:10px;
	margin-top:5px;
	cursor: pointer;
	color: #4A251C;
}
.gu-interactive .shareListHolder h2 {
font-family: Arial !important;
	font-weight: normal !important;
	font-size: 12px;
	border: none !important;
}

.gu-interactive .shareIcon {
	float:left;
	margin-left:5px;
	width:24px;
	height:24px;
	cursor: pointer;
}

.gu-interactive .copyURLTextArea {
	float:left;
	margin-left:10px;
	width: 245px;
	height: 18px;
	border: 1px solid #dfdfdf;
	padding: 2px;
	font-family: 'Arial';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
	resize:none;
	background-color: #fff;
}

.gu-interactive .copyURLP {
	float:left;
	margin-left:10px;
	width: 245px;
	border: 1px solid #dfdfdf;
	padding: 2px;
	font-family: 'Arial';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
	min-height: 18px;
	overflow: hidden;
}

.gu-interactive .productsPanel {
	width:100%;
	margin-top:1%;
	position:relative;
	min-height: 85px;
}

.gu-interactive .productsGridHolder {
	width:96%;
	margin-left:2%;
	margin-right: 2%;
	position:relative;
	transition: left 0.5s;
	-moz-transition: left 0.5s; /* Firefox 4 */
	-webkit-transition: left 0.5s; /* Safari and Chrome */
	-o-transition: left 0.5s; /* Opera */
}

.gu-interactive .productsGridHolder h1 {
	font-family: 'WebEgyptianHinted-Regular';
	font-weight:normal;
	font-size:22px;
	color:#4b251a;
	margin:3%;
	text-align:center;
}

.gu-interactive .productsGridHolder p {
	font-family: 'Arial';
	font-weight:normal;
	font-size:12px;
	color:#4a251c;
}

.gu-interactive .productsGridHolder span {
	color:#609984;
	margin: 0 3px 0 3px;
}

.gu-interactive .productsGridHolder a {
	text-decoration:none;
	color:#4a251c;
	margin: 0 3px 0 3px;
}

.gu-interactive .productsGridHolder a:hover {
	text-decoration:none;
	color:#609984;
	margin: 0 3px 0 3px;
}
.gu-interactive .productsGridHolder ul  {
    margin:0;
	width:100%;
	padding:0;
}

.gu-interactive .productsGridHolder li {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	border:4px solid rgb(243, 225, 194);
	display: inline-block;
	width: 49%%;
	cursor:pointer;
	overflow: hidden;
	margin-bottom:20px;
	margin-right:2%;
}

.gu-interactive .productsGridHolder li:nth-child(2n + 2) {
	margin-right:0;
}

.gu-interactive .productsGridHolder  #productThumb {
	width:80%;
	height:auto;
	margin: 0 auto;
	display:block;
}

.gu-interactive .productGridItem {
	width:100%;
	height:113%;
	background-color:#fff;
	overflow:hidden;
}
.gu-interactive .productsGridHolder  #productTitle {
	margin-left: 10px;
	margin-right: 10px;
	height:28px;
	border-top: 1px solid rgb(243, 225, 194);
	padding-top:10px;
	padding-bottom:10px;
}





.gu-interactive #addToWishList {
	font-family: 'Arial';
	background: #a64557;
	padding: 8px 10px 7px;
	font-size:12px;
	color: #fff;
	border-radius:2px;
	position:absolute;
	top:10px;
	right:10px;
}

.gu-interactive .productGridItem p {
	font-family: 'TextWebEgyptian-Regular', Arial;
	font-weight:normal;
	font-size:14px;
	color:#609984;
	text-align:left;
	-webkit-font-smoothing: antialiased;
}
.gu-interactive .productGridItem p#productDescripPrice {
	max-width: 50px;
	float:right;
	margin
	}
.gu-interactive .productGridItem p#productName {
	max-width:125px;
	float:left;
	}

.gu-interactive .paginationHolderTop {
	margin: 5px auto 20px auto;
	text-align: center;
	display: none;
}

.gu-interactive .paginationHolderTop a {
	cursor: pointer;
}

.gu-interactive #filteredGiftsNum {
	color:#609984;
}

.gu-interactive #wishListNum {
	color:#609984;
}

.gu-interactive .singularProductHolder {
	width:100%;
	background-color:#fff;
	top:0;
	position:absolute;
	left:100%;
	transition: left 0.5s;
	-moz-transition: left 0.5s; /* Firefox 4 */
	-webkit-transition: left 0.5s; /* Safari and Chrome */
	-o-transition: left 0.5s; /* Opera */
}

.gu-interactive .singularProductHolder  h1 {
	font-family: 'WebEgyptianHinted-Regular';
	font-weight:normal;
	font-size:22px;
	color:#4a251c;
}

.gu-interactive .singularProductHolder p {
	font-family: 'Arial' !important;
	font-weight: normal !important;
	line-height:130%;
	font-size:12px;
	color:#4a251c;
}

.gu-interactive .singularProductHolder a {
	text-decoration: none;
	color:#609984;
}

.gu-interactive .singularProductHolder a:hover {
	text-decoration: none;
	color:#4a251c;
}

.gu-interactive .singularProductLeftTop {
	float: :left;
	margin: 20px 0 20px 0;
	cursor: pointer;
	background-color: #ff0000;
}

.gu-interactive .singularProductRightTop {
	float: :right;
	margin: 20px 0 20px 0;
	background-color: #0000ff;
	cursor: pointer;
}

.gu-interactive .loadingLargeImageMsg {
	background-color: #fff;
	width: 100%;
	height: 400px;
	margin-top:50px;
	display: none;
}

.gu-interactive #filteringWait {
	background: transparent ;
	background: rgba(0,0,0,0.4) ;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#50000000', EndColorStr='#50000000');
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	display: none;
}

.gu-interactive #arialBody {
	font-family: 'Arial';
	font-weight:normal;
	font-size:12px;
	color:#666;
}

.gu-interactive .clearBoth {
	clear:both;
}

@media (min-width: 641px) {
	.gu-interactive .productsGridHolder li {
		width:32%;
		margin-right:2%;
	}
	.gu-interactive .productsGridHolder li:nth-child(2n + 2) {
		margin-right:2%;
	}
	.gu-interactive .productsGridHolder li:nth-child(3n + 3) {
		margin-right:0;
	}

@media (min-width: 900px) {

	.gu-interactive .productsGridHolder li {
		width:23.5%;
		margin-right:2%;
	}
	.gu-interactive .productsGridHolder li:nth-child(4n + 4) {
		margin-right:0;
	}
	.gu-interactive .productsGridHolder li:nth-child(3n + 3) {
		margin-right:2%;
	}

@media (min-width: 1120px) {
	.gu-interactive .productsGridHolder li {
		width:18.4%;
		margin-right:2%;
	}

	.gu-interactive .productsGridHolder li:nth-child(5n + 5) {
		margin-right:0;
	}
	.gu-interactive .productsGridHolder li:nth-child(4n + 4) {
		margin-right:2%;
	}
}

