<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=960, user-scalable=yes">
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- CSS_START -->
    <!-- <link type="text/css" rel="stylesheet" href="css/fonts.css"> -->
    <link type="text/css" rel="stylesheet" href="http://assets.guim.co.uk/stylesheets/38417b13b505b283b5ea4c2e85526d0b/webfonts.css">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="assets/skins/carousel/skin.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <!-- CSS_END -->

    <!-- JS_START -->
    <script src="js/require.js"></script>
    <script src='js/libs/easyXDM.js'></script>
    <script src='js/libs/json2.js' type="text/javascript"></script>
    <script src='js/libs/jquery-1.8.1.js' type="text/javascript"></script>
    <script src='js/libs/jquery.google.spreadsheet.js' type="text/javascript"></script>
    <script src="js/libs/jquery.activity-indicator-1.0.0.js" ></script>
    <script src='js/libs/modernizr.js' type="text/javascript"></script>
    <script src='js/libs/underscore.js' type="text/javascript"></script>
    <script src='js/libs/backbone.js' type="text/javascript"></script>
    <script src='js/libs/miso.ds.deps.min.0.2.2.js' type="text/javascript"></script>
    <script src='js/libs/jquery.jcarousel.min.js' type="text/javascript"></script>

    <!--<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>-->

	<script src='js/libs/TweenMax.min.js' type="text/javascript"></script>
	<script src='js/libs/easing/EasePack.min.js' type="text/javascript"></script>
	<script src='js/libs/plugins/CSSPlugin.min.js' type="text/javascript"></script>

    <script src='js/gui/core.js' type="text/javascript"></script>
    <script src='js/gui/anim.js' type="text/javascript"></script>
    <script src='js/gui/analytics.js' type="text/javascript"></script>
    <script src='js/gui/data.js' type="text/javascript"></script>
    <script src='js/gui/error.js' type="text/javascript"></script>
    <script src='js/gui/social.js' type="text/javascript"></script>
    <script src='js/gui/touch.js' type="text/javascript"></script>

	<script src='js/gui/boot.js' type="text/javascript"></script>
	<script src='js/gui/xmas/model/model.js' type="text/javascript"></script>
	<script src='js/gui/xmas/observer/observer.js' type="text/javascript"></script>
	<script src='js/gui/xmas/controller/controller.js' type="text/javascript"></script>
	<script src='js/gui/xmas/view/initLoadView.js' type="text/javascript"></script>
	<script src='js/gui/xmas/view/mainView.js' type="text/javascript"></script>
	<script src='js/gui/xmas/view/filterPanel.js' type="text/javascript"></script>
	<script src='js/gui/xmas/view/wishListBox.js' type="text/javascript"></script>
	<script src='js/gui/xmas/view/productsGridView.js' type="text/javascript"></script>
	<script src='js/gui/xmas/view/singularProductView.js' type="text/javascript"></script>

    <!-- JS_END -->

    <script>
        console.log('dfnkgnsiegbsrehbgduyb')
        var XDSocket;
        var scrollPos = 0;


        // shim layer with setTimeout fallback
        window.requestAnimFrame = (function(){
            return  window.requestAnimationFrame       ||
                    window.webkitRequestAnimationFrame ||
                    window.mozRequestAnimationFrame    ||
                    function( callback ){
                        window.setTimeout(callback, 1000 / 60);
                    };
        })();

        $(document).ready(function()
        {
            jQ = $;
            gui.xmas.Boot(document.getElementById('container'));


            XDSocket = new easyXDM.Socket({
                remote: '',
                onReady:  function(){
                    XDSocket.postMessage(JSON.stringify({ height: document.body.clientHeight }));
                },
                onMessage: updateScrollData
            });

            var frameHeight = document.body.clientHeight;
            function checkFrameHeight() {
                if (frameHeight !== document.body.clientHeight) {
                    frameHeight = document.body.clientHeight;
                    XDSocket.postMessage(XDSocket.postMessage(JSON.stringify({ height: frameHeight })));
                }
                requestAnimFrame(checkFrameHeight);
            }

            requestAnimFrame(checkFrameHeight);

            function updateScrollData(msg, origin) {
                scrollPos = msg;
            }
        });
    </script>

    <link rel="shortcut icon" href="/favicon.ico">
    <title>Interactive Project Template</title>
</head>
<body>


<div class='gu-interactive' id="container">
    <!-- content goes here -->
</div>



<!-- TEMPLATES -->
<script id="productTemplate" type="text/template">
<div data-productId='<%= productTitle %>' class='productGridItem' style='position: relative; margin: 0px; padding: 0px;'> 
    <div class="productThumbHolder" style="background-image:url(<%= productImage %>)">

    </div>
    <div class='productTitle' style='z-index: 2;' /> 
        <div class='descripAndTitleContainer'> 
            <p class='productName'><%= productTitle %></p> 
            <p class='productDescripPrice'><%= productPrice %></p>
        </div>
        <div class='addToWishList'></div> 
    </div>
</div> 

</script>




<script id="singularProductTemplate" type="text/template">
<div class="singularBackground"></div>
<div class="singularContent"style="left: <%=singularOffset%>; top: <%= singularOffsetTop %>px">
    <div id="backToGridBtn"></div>
    <div id="productDetailHolder" style="background: #fff url(<%=productImage%>) no-repeat center;">
       <div class="productImageContainer"></div>
    </div>
    <div id="detailDescrip">
        <h2><%= productTitle %></h2>
        <h3><%=giftPrice%></h3>
        <p>
            <%=productDescription%>
        </p>
        <button id="addToWishList" class="<%= wishlistStatus %>"><%= inWishlist %></button>
        <button data-target="<%=productUrl%>" target="_blank" class="linkToShop">Go to shop</button>
    </div>
</div>
</script>



<script id="headerTemplate" type="text/template">
    <header>
        <div id="visualHeader">
            <div id="christmasLights">
                <img class="blink_1" src="assets/images/blink_1.jpg" />
                <img class="lightsOff blink_2" src="assets/images/blink_2.jpg" />
                <img class="lightsOff blink_3" src="assets/images/blink_3.jpg" />
                <img class="lightsOff blink_4" src="assets/images/blink_4.jpg" />
            </div>
            <div id="headerTitleContainer">
                <img src="assets/images/guardianLogo.png" />
                <h1>Christmas Gift Guide</h1>
            </div>
            <div id="wishlist">
                <div id="wishlistTitle">
                    <p>My wishlist</p>
                    <div id="wishlistShareBox">
                        <button data-source="fb" class="wishlistShareButton shareFb"></button>
                        <button data-source="twitter" class="wishlistShareButton shareTwitter"></button>
                        <button data-source="email" class="wishlistShareButton shareUrl" ></button>
                    </div>
                </div>
                <div id="wishlistItems">
                    <p id="emptyWishlist">Your wishlist is empty.</p>
                    <ul style="margin-left:0;"></ul>
                    <div class="wishlistNavigate" id="wishlistNavBack"></div>
                    <div class="wishlistNavigate" id="wishlistNavNext"></div>
                </div>
            </div>
        </div>
        <nav id="filters">

            <div class="styled-select">
                <select id="filterList_0" data-filter="whoisthegiftfor">
                    <option class="clearFilter" selected>Any type of person</option>
                </select>
            </div>
            <div class="styled-select">
                <select id="filterList_1" data-filter="whatpricerange">
                    <option class="clearFilter" selected>Any price range</option>
                </select>
            </div>
            <div class="styled-select">
                <select id="filterList_2" data-filter="whatkindofgift">
                <option class="clearFilter" selected>Any type of gift</option>
                </select>
            </div>
            <p id="giftCount"></p>
        </nav>
    </header>
</script>

</body>
</html>
